@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:300,300i');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
 */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?po6no2');
  src:  url('../fonts/icomoon.eot?po6no2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?po6no2') format('truetype'),
    url('../fonts/icomoon.woff?po6no2') format('woff'),
    url('../fonts/icomoon.svg?po6no2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\f107";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-linkedin2:before {
  content: "\eaca";
}


@import "normalize";
@import "variables";
@import "mixin";
@import "grid";
/* @import "slick"; */

*, *:after, *:before{
	@include box-sizing;
}

*:hover {
	@include transition(all, 0.2s, ease);
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

body{
	font-family: $main-font;
	font-size: $main-font-size;
	font-weight: $font-weight;
	color: $main-color;
}

/* text the same in sections */

.section__text {
	margin: 0 auto;
    max-width: 40%;
    text-align: center;
    margin-bottom: 73px;

	.text--title {
		margin: 0 0 35px;
		font-family: $next-font;
		font-size: $title-font-size;
		font-weight: $title-font-weight;
		line-height: 0.6;
		color: $title-color;
		text-transform: uppercase;
		letter-spacing: 4px; /* 2 */
		word-spacing: 3px;
	}

	.text--describe {
		margin: 0;
		font-family: $main-font;
		font-size: $main-font-size;
		font-weight: $font-weight;
		line-height: $font-height;
		color: $main-color;
		text-transform: none;
		word-spacing: 3px;
	}
}

/* Fist Page */

.first-page {
    position: relative;
    min-height: 100vh;
    background: $title-color url("../img/IMAGE.png") no-repeat;
    background-size: cover;

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
}


.down {
	position: absolute;
    left: 50%;
    bottom: 85px; /* расстояние от низа */
    display: block;
    font-size: 20px; /* влияет на величину кнопки */
	line-height: 1;
    @include transform;
   	outline: none;
   	color: $header-color;

    & .next-link {
    	color: $header-color;
    	text-decoration: none;
    	padding: 2px 10px; /* влияет на величину кнопки */
    	background-color: $color-next;
    	border: 2px solid transparent;
	    border-radius: 50%;
	    text-align: center;
	    width: 20px; /* влияет на величину кнопки */
	    height: 20px; /* влияет на величину кнопки */
	    outline: none;
	    &:hover, &:focus {
			background-color: rgba(0, 0, 0, 0.1);
			border: 2px solid $color-next;
			color: $color-next;
		}
	}
}

/* header */

header {
	padding: 45px 0 20px;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}

.logo {
	display: inline-block; /* чтобы был слева скраю, а не по центру col-2 */
	padding-top: 2px;

}


/* nav */

.menu {
	float: right;
	text-align: right;
	font-weight: $font-weight;

	&__list {
	    padding: 0;
	    margin: 0;
	}

	&__item {
	    display:inline-block;
	    list-style: none;
	}

	&__link {
		font-size: $next-font-size;
	    line-height: 0.75;
	    color: $header-color;
	    text-decoration: none;
	    padding: 5px 20px;
	    border: 1px solid transparent;
	    border-radius: 20px;

	    &:hover, &:active {
			border: 1px solid $header-color;
			border-radius: 20px;
		}
	}
}


.first-page-content {
	padding-top: 268px;
    margin: 0 auto;
    max-width: 57%;
    text-align: center;
    color: $header-color;

	&__title {
	margin: 0 0 14px;
	font-family: $next-font;
	font-size: $header-font-size;
	font-weight: $title-font-weight;
	letter-spacing: 6px;
    word-spacing: 3px;
	line-height: 2;
	text-transform: uppercase;
	}

	&__text {
	margin: 0;
	padding: 0 0 150px;
	font-family: $main-font;
	font-size: $next-font-size;
	word-spacing: 5px;
    font-weight: $font-weight;
    line-height: 1.75;
    text-transform: none;
	}
}



/* CONTACT */

.contact-us {
	background-color: $header-color;
	padding-top: 75px; // не маргин-top а padding-top!!! чтобы прокручивалось к самому началу секции
}




/* MAP */

#map{
	min-height: 440px;
}


/* footer */
footer {
	background: $header-color;
	padding-bottom: 86px;
}


.footer__text {
	margin: 0 auto;
    max-width: 40%;
    text-align: center;
	padding-top: 75px; // не маргин-top а padding-top!!! чтобы прокручивалось к самому началу секции
}


.social-icons {
	margin: 0 auto;
    max-width: 52%;
    text-align: center;
}

.social-icons__gamb-btn {
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	color:  $header-color;
	font-size: $main-font-size;
	font-weight: $font-weight;
	text-align: center;
}

/* цвета иконок */

.gamb-btn--fb {
	background: #3b5998;
}
.gamb-btn--tw {
	background: #26a6d1;
}
.gamb-btn--li {
	background: #0e76a8;
}
.gamb-btn--ins {
	background: #3f729b;
}
.gamb-btn--v {
	background: #86c9ef;
}


/* == Portfolio == */

.slide-portfolio {
	background-color: $color-bg;
	padding-top: 90px; // не маргин-top а padding-top!!! чтобы прокручивалось к самому началу секции
	padding-bottom: 100px;
}

.select-btns {
	max-width: 100%;
    text-align: center;
	margin-bottom: 61px;
	font-size:0;
}

.button {
	position: relative;
	display: inline-block;
	font-size: $next-font-size;
	color: $next-color;
	padding: 0 15px 11px 15px;
	border: none;
	background-color: transparent;

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -20%;
		width: 40%;
		height: 2px;
		background-color: transparent;
		outline: none;
		@include transition(all, 0.2s, ease);
	}

	&:hover, &:focus {
		outline: none;

		&:after {
			background-color: $color-next;
		}
	}
}


/* MASONRY grid styles*/

.grid {
	padding-left: 30px;
}

.grid-item{
	margin-bottom: 10px;
}

.grid-item-size  {
	width: 24%;

}


/*Hover эффект с ипользованием display*/
.img-wrap.use-display .hover-img{
	display: none;
	@include transition(all, 0.2s, ease);


}

.img-wrap.use-display:hover .hover-img{
	display: block;
	position: absolute;
	background: rgba(25, 189, 154, 0.4);
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
	box-shadow: 0 0 40px 20px $color-bg inset;
	color: $color-bg;
	@include transition(all, 0.2s, ease);
}

.img-wrap .hover-img .hover-text{
	position: relative;
	top: 12%;
	text-align: center;
	text-transform: uppercase;
}


/* TEAM */

.team {
	background-color: $header-color;
	padding-top: 75px; // не маргин-top а padding-top!!! чтобы прокручивалось к самому началу секции

	.slider-team{
		padding-bottom: 95px;
	}
}

.my-slide {
	padding-left: 70px;
	padding-right: 70px;

	&__wrapper-img{
		width: 40%;
		float:left;
	}

	&__content{
		float:right;
		// max-width: 430px;
		width: 42%;
		padding-right: 45px;
		text-align: right;
	}

	&__title{
		font-size: 20px;
		padding-top: 16px;
		color: #464646;
		font-weight: $font-weight;
		font-family: $main-font;

	}

	&__subtitle {
		margin-bottom: 15px;
		font-family: $next-font;
		font-weight: $title-font-weight;
		font-style: italic;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: $font-weight;
	}

	&__text	{
		font-weight: $font-weight;
		font-family: $main-font;
	}
}

/* Стили для Слик слайдера */
.slick-dots{
	list-style: none;
	padding-left: 0;
	padding-top: 35px;
	text-align: center;

	li{
		display: inline-block;
		padding: 0 5px;

		button{
			width: 10px;
			height: 10px;
			padding:0;
			background-color: transparent;
			border: 1px solid $color-next;
			border-radius: 50%;
			font-size: 0;
			transition: background-color 0.5s ease;

			&:focus{
				outline: none;
			}

			&:hover{
				background-color: $color-next;
			}
		}
	}

	li.slick-active {
		button{
			background-color: $color-next;
		}
	}
}

/* without container */

.full-container{
    background: $title-color url(../img/Rectangle7.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
    height: 205px;
    margin: 0;
    color: $header-color;
    text-align: center;

	.team__title {
	    font-size: $title-font-size;
	    margin-top: 0;
	    padding: 55px 0 10px;
	}

	a {
	    color: $header-color;
	    font-size: $next-font-size;
	    border: 1px solid $header-color;
	    border-radius: 1.1rem;
	    padding: 7px 15px;
	    margin: auto;
	    width: 140px;
	    display: block;
	    text-decoration: none;

	    &:hover, &:active {
	    	background: $header-color;
	    	color: $main-color;
	    }
	}
}


/* Testimonials  */
.testimonials {
	background-color: $color-bg;
	padding: 71px 0 100px;
}

.slider-testimonials{
	background-color: $header-color;

	.slick-dots {
    padding-top: 30px;
    padding-bottom: 55px;
  }
}

.tm-slide {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 52px;

	&__wrapper-img{
		width: 17.5%;
		float:left;
	}

	&__content{
		float:right;
		width: 82.5%;
		padding-left: 30px;
		text-align: justify;
		font-size: $next-font-size;
		line-height: $font-height;
	}

	&__title{
		color: $color-next;
		text-transform: uppercase;
		font-weight: 700;
		line-height:1;
	}

	&__subtitle {
		font-size: $main-font-size;
		text-transform: uppercase;
		font-weight: $font-weight;
	}

	&__text	{
		margin-bottom: 24px;
	}

}



/*Responsive menu*/
#show-menu{
	float:  right;
	background: white;
	border: 1px solid #000;
	position: absolute;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.5s ease;
}

/* == Media  == */

@media (max-width: 768px){
	.header, .team, .contact-us {
	    padding-top: 20px;
	}

	.first-page {
	    min-height: 60vh;
	}

	.first-page-content {
	    padding-top: 60px;
	    margin: 0 auto;
	    max-width: 90%;

	    &__title {
	    	font-size: $title-font-size;
	    }

		&__text {
	    	padding: 0 0 50px;
	    	font-size: $main-font-size;
	    }
	}

    .down {
	    display: none;
	}


	.section__text .text--title {
	    margin: 0 0 15px;
	    line-height: 1;
	    }

	.footer__text {
	    max-width: 80%;
	    padding-top: 20px;
	}

	.social-icons {
    	max-width: 80%;
    }

    .social-icons__gamb-btn {
    	margin-right: 10px;
	    padding: 10px;
	    width: 50px;
    	height: 50px;
    	font-size: $title-font-size;
	}

	.slide-portfolio, .testimonials {
	    padding: 20px 0 20px;
	}

	.slick-dots {
	    padding-top: 0px;
	}

	footer, .team .slider-team {
	    padding-bottom: 20px;
	}

	.slider-testimonials .slick-dots {
		padding-top: 0;
		padding-bottom: 30px;
	}

	.section__text{
	    max-width: 80%;
	    margin-bottom: 20px;

		&.text--describe {
			margin-bottom: 20px;
		}
	}

	.select-btns {
	    margin-bottom: 20px;
	}

	.my-slide, .tm-slide {

		&__wrapper-img{
			width: 100%;
		}

	    &__content {
	    	width: 100%;
	    	text-align: center;
	    }
	}

	.my-slide {
	    padding-left: 10px;
	    padding-right: 10px;

	    &__content {
	    	padding-right: 0;
	    }
    }

	.tm-slide {
	    padding-left: 0;
	    padding-right: 0;
	    padding-top: 10px;

	    &__content {
	    	padding: 0 10px;
	    	font-size: $main-font-size;
	    }
	}

	#map {
		height: 300px;
	}


/*Responsive menu*/
	#show-menu{
		position: relative;
		z-index: 1;
		opacity: 1;
		transition: opacity 0.5s ease;
		padding: 5px 10px;
		right: 5%;
	}

	.menu {
	    position: absolute;
	    opacity: 0;

	    -webkit-transform: scale(1, 0);
	    -ms-transform: scale(1, 0);
	    transform: scale(1, 0);

	    -webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	    transform-origin: 0 0;

		display: block;
		width: 60%;
		top: 50px;
		right: 0;
		background: rgba(0, 0, 0, 0.8);
		text-align: center;

	    &.open {
			transform: scale(1,1);
			opacity:1;
		}

		&.animation {
			transition: transform 0.5s ease, opacity 0.5s ease;
		}

		&__item {
			display: block;
			padding: 10px;
			border-top: 1px solid rgba(255,255,255,0.6);
		}

		&__link {
			width: 100%;

			&:hover, &:active, &.active {
				border: none;
			}
		}
	}
}


